body {
    margin: 0;
    padding: 0;
    font-family: "verdana";
    text-align: center;
    font-size: 24px;
}

h1 {
    font-size: 48px;
    color: #0e266e;
    text-align: center;
    padding: 0;
}
    

#board {
        background-image: url("../images/vecteezy -reduce-plastic-pollution-in-our-oceans.jpg");
        height: 900px;
        position: relative;
        background-position: bottom;
        
}

#player {
    background-image: url("../images/Robot-for-Game.png");
    background-size: cover;
    background-position: center;

}

.garbage {
    /*background-image: url(../images/coffeeCups.jpg), url(../images/plasticBags.jpg), url(../images/plasticBottles.jpg), url(../images/PlasticBinOfGarbage.png), url(../images/rubberDuck.jpg);*/
    position: absolute;
    background-size: cover;
    background-position: center;
    /*background-color: blueviolet;*/
    /* top: 10px;
    left: 20px; */
}

#scoreDisplay {
    

}
/* .container {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
} */

#startButton {
        /* float: right; */
        overflow: auto;
        left: 25cm;
        top: 20cm;
        background-color: rgb(14, 150, 150);
        font-size: 36px;
        position: relative;
        /* border: white; */
        /* border: 3px; */
        text-align: center;
        border-radius: 25px;
}

#score {
    padding: 5;
    height: 2.5cm;
    width: 8cm;
    font-size: 36px;
}

#gameOver {
    font-size: 54px;
    position: absolute;
    padding: 3;
    height: 10cm;
    width: 25cm;
    text-align: center;
    margin: 5cm 16cm;
    color: rgb(8, 84, 135);
}


#timer {
    font-size: 20px;
    position: absolute;
    margin: 1cm;
    color: grey;
}
